#first {
  background-color: yellow;
}

.bacon {
  background-color: green
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

h1 {
  color: red;
  font-size: 40px;
}

img {
  position: relative;
  left: 30px;
}

img:hover {
  background-color: gold;
}

#heading {
  background-color: blue;
}
