body {
  background-color: #E4F9F4;
  color: #40514E;
  font-family: 'Merriweather', serif;
  line-height: 1.4;
  margin: 0;
  min-width: 500px;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 1.5;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

hr {
  border-width: 6px;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  margin: 70px auto 70px auto;
  width: 50px;
}

p {
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.web-image {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.linux-image {
  float: right;
  margin-right: 30px;
  width: 25%;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 50px;
  position: relative;
}

.middle-container {
  background-color: white;
  padding: 50px 0 80px;
}

.bottom-container {
  padding: 30px 0 30px;
  background-color: #66BFBF;
}

.introduction {
  margin: 0 auto;
  width: 30%;
}

.btn {
  color: white;
  background-color: green;
  padding: 15px
}

.p-contactme {
  width: 30%;
  margin: 50px auto;
}

.p-copyright {
  color: #EAF6F6;
}
